
.img_preview{
	height: 80px;
	width: 80px;
}

.img_preview img{
	height: 100%;
	width: 100%;
}

.error {
	color: red;
}

.modal-body .box-primary
{
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.28);
}

.ml-15 {
	margin-left: 15px;
}

.ml-5{
	margin-left: 5px;
}

.tblDtl tbody tr th {
	width : 40% !important;
}